/* #banner-edhec {
    display: none;
} */


.banner {
    margin-top:-2vw;
    margin-bottom: 3vw;
    z-index: auto;
    width: 100vw;
    height: 30vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display:none;
}

.banner-education {
    margin-top: -1vw;
}

.banner .banner-image {
    position: relative;
    background-size: 60vw 30vw;
    height: 30vw;
    width: 60vw;
}

.banner .banner-text {
    margin-left: 2.5vw;
    width: 37.5vw;
    height: 30vw;
    background: black;
    position: relative;
}

.banner-text h1 {
    font-size: 2.5vw;
    margin-top: 0vw;
    padding-top: 2.5vw;
    font-family: 'Montserrat'
}

#banner-homerun h1 {
    font-size: 2vw;
}

.banner-text h2 {
    color: var(--dark);
    margin-left: 1.5vw;
    margin-top: 0.9vw;
    margin-bottom: 0vw;
    font-weight: lighter;
    font-size: 1.8vw;
}

.banner-text p {
    margin-top: 1.5vw;
    margin-bottom: 0vw;
    font-size: 1.3vw;
}

.banner .fa-times {
    position: absolute;
    left: 0vw;
    top: 1vw;
    font-size: 1.5vw;
}

.banner .fa-times:hover {
    color: rgb(130,130,130);
}

.banner a {
    color:E5E5E5;
}

/* #btn-close-exam, #btn-close-homerun, #btn-close-tee, #btn-close-development, #btn-close-music, #bnt-close-gym {
    color: var(--dark);
} */

/* Image et chevron down de chaque bannière */

    /* section education */

#banner-image-edhec {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
    rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
    rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
    url("../../images/edhec-banner.jpg");
}

#banner-image-exam {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
    rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
    rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
    url("../../images/exam-banner.jpg");
}

#banner-image-recamier {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
    rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
    rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
    url("../../images/recamier-banner.jpg");
}

#banner-image-lyon2 {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
    rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
    rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
    url("../../images/lyon2-banner.jpg");
}

#banner-image-blaise {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
    rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
    rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
    url("../../images/blaise-banner.jpg");
}


    /* section experience */

#banner-image-homerun {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
    rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
    rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
    url("../../images/homerun-banner.jpg");
}

#banner-image-tee {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
    rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
    rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
    url("../../images/tee-banner.jpg");
}

#banner-image-soap {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
    rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
    rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
    url("../../images/soap-banner.jpg");
}

#banner-image-tutor {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
    rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
    rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
    url("../../images/tutor-banner.jpg");
}

#banner-image-fiducial {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
    rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
    rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
    url("../../images/fiducial-banner.jpg");
}


    /* section experience */

#banner-image-spirit {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
    rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
    rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
    url("../../images/spirit-banner.jpg");
}

#banner-image-management {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
    rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
    rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
    url("../../images/management-banner.jpg");
}

#banner-image-languages {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
    rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
    rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
    url("../../images/languages-banner.jpg");
}

#banner-image-code {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
    rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
    rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
    url("../../images/code-banner.jpg");
}

#banner-image-software {
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
    rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
    rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
    url("../../images/software-banner.jpg");
}


    /* section hobbies */

    #banner-image-music {
        background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
        rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
        rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
        url("../../images/music-banner.jpg");
    }
    
    #banner-image-development {
        background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
        rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
        rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
        url("../../images/development-banner.jpg");
    }
    
    #banner-image-gym {
        background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
        rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
        rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
        url("../../images/gym-banner.jpg");
    }
    
    #banner-image-travel {
        background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
        rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
        rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
        url("../../images/travel-banner.jpg");
    }
    
    #banner-image-drawing {
        background-image: linear-gradient(90deg, rgba(0,0,0,1) 2%, rgba(0,0,0,0.9556197478991597) 4%, 
        rgba(0,0,0,0.9192051820728291) 7%, rgba(0,0,0,0.7707457983193278) 11%, 
        rgba(0,0,0,0.3029586834733894) 19%, rgba(0,0,0,0) 29%), 
        url("../../images/drawing-banner.jpg");
    }